body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f2f2f2;
  font-family: 'Arial', sans-serif;
  flex-direction: column; /* Để căn giữa theo chiều dọc */
}

#memory-game {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  grid-template-rows: repeat(8, minmax(0, 1fr));
  gap: 20px;
  max-width: 700px;
  max-height: 700px;
  margin: 20px auto;
}

/* Thêm đoạn CSS mới */
#revealAllBtnContainer {
  text-align: center;
  margin-top: 20px;
}

#revealCountDisplay {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}

.card {
  width: 100%;
  height: 100%;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  user-select: none;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.card.flipped {
  background-color: #fff;
}

.matched {
  background-color: #8aff8a !important;
  pointer-events: none;
}

#revealAllBtn {
  display: block;
  margin: 20px auto;
  padding: 12px 24px;
  font-size: 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}

#revealAllBtn:hover {
  background-color: #45a049;
}
